:root {
    --color-light: #FBFBFF;
    --color-primary: #21008F;
    --color-medium: #FFD900;
    --color-bg-div: #1c0b56;
    --color-dark: #1D1E1F;
}

html {height: 100%;}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: var(--color-primary);
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    font-family: "Roboto", serif;
    color: var(--color-medium);
    overflow-x: hidden;
    transition: all .4s;
}

header {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, auto);
    text-align: center;
    background: var(--color-dark);
}
  
.logo {
    display: block;
    margin: auto;
    max-width: 50%;
}

.detalles {
    margin: 20px 50px;
    padding: 25px;
    background: var(--color-bg-div);
    grid-template-columns: repeat(2, auto);
    border-radius: 15px;
}

.detalles img {
    margin: 0px 100px;
    border-radius: 5px;
}

#player{width: 280px; float: left;}
#vidaEstamina{width: 380px; margin-left: 230px;}
#colores{width: 520px; margin: 8px 400px;}
#corona{width: 100px; float: right;}

h1, h2, h3, h4{margin-bottom: 3px; margin-top: 6px;}

hr{
    border:2px solid var(--color-primary);
    margin-bottom: 10px;
}

p {margin: 0px 10px;}

p a{color: var(--color-medium); text-decoration: underline;}

ul {margin-left: 30px; margin-bottom: 3px;}