:root {
  --color-light: #FBFBFF;
  --color-primary: #21008F;
  --color-medium: #FFD900;
  --color-bg-div: #1c0b56;
  --color-dark: #1D1E1F;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-dark);
}

header {
  display: flex;
  width: 100%;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

.portada__imagen {
  max-width: 800px;
  width: 100%;
}

.portada__titulo {
  color: var(--color-light);
  text-shadow: 0 3px 10px var(--color-light);
  font-size: clamp(2rem, 5vw, 5rem);
}

.portada__subtitulo {
  color: var(--color-light);
  text-shadow: 0 3px 10px var(--color-light);
  font-size: clamp(1rem, 2vw, 2rem);
}

/* navegacion */

nav {
  margin: 5px;
  background-color: var(--color-primary);
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 10px;
  width: 100%;
  box-shadow: 5px 5px 10px var(--color-light);
  padding: 20px;
}

.nav__lista {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
  width: clamp(300px, 50vw, 700px);
  padding: 10px;
  justify-items: center;
  background-color: #001aff4d;
  box-shadow: 0 0 50px #001aff;
  border-radius: 40px;
}

.nav__item {
  background-color: #ffde25;
  border-radius: 10px;
  transition:
    transform 0.5s ease,
    box-shadow 0.5s ease,
    filter 0.5s ease;
  filter: brightness(80%);
}

.nav__item:hover {
  transform: scale(1.1);
  z-index: 50;
  box-shadow: 0 0 50px var(--color-light);
  filter: brightness(100%);
}

.nav__imagen {
  width: 100%;
  border-radius: 10px;
}

/* carruseles */

.carrusel {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: repeat(2, auto);
  position: relative;
  overflow: hidden;
}

.carrusel__subtitulo {
  grid-column: span 3;
  color: var(--color-light);
  text-shadow: 2px 2px 20px var(--color-light);
  margin-left: 30px;
  font-size: clamp(1rem, 2vw, 5rem);
}

button.carrusel__movimiento {
  border-radius: 30px;
  border: 1px solid;
  cursor: pointer;
  position: absolute;
  top: 50%;
  background-color: var(--color-light);
  font-size: 2rem;
  z-index: 10;
  padding-top: 40px;
  padding-bottom: 40px;
  transition: box-shadow 1s ease;
}

button.carrusel__movimiento:disabled {
  display: none;
}

button.carrusel__movimiento:hover {
  box-shadow: 0 0 20px var(--color-light);
}

.movimiento--izquierda {
  left: 15px;
  z-index: 50;
}

.movimiento--derecha {
  right: 15px;
  z-index: 50;
}

ul.contenedor {
  display: flex;
  flex-flow: row;
  list-style: none;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  gap: 2px;
  transition: transform 0.5s ease-in-out;
  padding-bottom: 20px;
}

ul.contenedor#enemigos{
  max-height: 500px;
}

ul.contenedor#mapas li{
  background-color: #000;
}

.contenedor__slide {
  display: flex;
  flex-direction: column;
  flex: 0 0 25%;
  box-sizing: border-box;
  transition:
    height 0.3s ease,
    transform 0.5s ease,
    box-shadow 0.3s ease;
  justify-content: center;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  position: relative;
  background-color: var(--color-bg-div);
}

.slide__enlace {
  display: block;
  width: 100%;
  color: var(--color-light);
}

.slide__imagen {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  border-radius: 20px;
}

.slide__descripcion {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition:
    max-height 0.3s ease,
    opacity 0.5s ease;
  padding: 0 10px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff99;
  border-radius: 30px;
  margin: 10px;
}

.contenedor__slide:hover {
  transform: scale(1.05) translateY(-5px);
  z-index: 10;
  box-shadow: 0 8px 20px #ffffff80;
}

.contenedor__slide:hover .slide__descripcion {
  max-height: 200px;
  opacity: 1;
  padding: 10px;
  transform: translateY(0);
}

.contenedor__slide:hover .slide__imagen {
  filter: brightness(70%);
}

/* Carrusel 4 */

.carrusel__encabezado{
  grid-column: span 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.carrusel__verMas{
  color: var(--color-light);
  text-shadow:2px 2px 20px var(--color-light);
  margin-right: 30px;
  font-size: clamp(1rem, 2vw, 5rem);
}
/* Medias  */

@media (max-width: 768px) {
  .contenedor__slide {
    flex: 0 0 50%;
  }
}
