:root {
  --color-light: #FBFBFF;
  --color-primary: #21008F;
  --color-medium: #FFD900;
  --color-bg-div: #1c0b56;
  --color-dark: #1D1E1F;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-dark);
}

header {
  display: flex;
  width: 100%;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

.portada__imagen {
  max-width: 800px;
  width: 100%;
}

.portada__titulo {
  color: var(--color-light);
  text-shadow: 0 3px 10px var(--color-light);
  font-size: clamp(2rem, 5vw, 5rem);
}

.portada__subtitulo {
  color: var(--color-light);
  text-shadow: 0 3px 10px var(--color-light);
  font-size: clamp(1rem, 2vw, 2rem);
}

/* navegacion */

nav {
  margin: 5px;
  background-color: var(--color-primary);
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 10px;
  width: 100%;
  box-shadow: 5px 5px 10px var(--color-light);
  padding: 20px;
}

.nav__lista {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
  width: clamp(300px, 50vw, 700px);
  padding: 10px;
  justify-items: center;
  background-color: #001aff4d;
  box-shadow: 0 0 50px #001aff;
  border-radius: 40px;
}

.nav__item {
  background-color: #ffde25;
  border-radius: 10px;
  transition:
    transform 0.5s ease,
    box-shadow 0.5s ease,
    filter 0.5s ease;
  filter: brightness(80%);
}

.nav__item:hover {
  transform: scale(1.1);
  z-index: 50;
  box-shadow: 0 0 50px var(--color-light);
  filter: brightness(100%);
}

.nav__imagen {
  width: 100%;
  border-radius: 10px;
}

/* carruseles */

.carrusel {
  display: grid;
  grid-template-rows: repeat(2, auto);
  position: relative;
  overflow: hidden;
}
.carrusel__encabezado{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.carrusel__subtitulo {
  color: var(--color-light);
  text-shadow: 2px 2px 20px var(--color-light);
  margin-left: 30px;
  font-size: clamp(1rem, 2vw, 5rem);
}

button.carrusel__movimiento {
  border-radius: 30px;
  border: 1px solid;
  cursor: pointer;
  position: absolute;
  top: 50%;
  background-color: var(--color-light);
  font-size: 2rem;
  z-index: 10;
  padding-top: 40px;
  padding-bottom: 40px;
  transition: box-shadow 1s ease;
}

button.carrusel__movimiento:disabled {
  display: none;
}

button.carrusel__movimiento:hover {
  box-shadow: 0 0 20px var(--color-light);
}

.movimiento--izquierda {
  left: 15px;
  z-index: 50;
}

.movimiento--derecha {
  right: 15px;
  z-index: 50;
}

ul.contenedor {
  display: flex;
  flex-flow: row;
  list-style: none;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  gap: 2px;
  transition: transform 0.5s ease-in-out;
  padding-bottom: 20px;
}

li.contenedor__slide {
  display: flex;
  flex: 0 0 25%;
  box-sizing: border-box;
  transition:
    height 0.3s ease,
    transform 0.5s ease,
    box-shadow 0.3s ease;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  background-color: var(--color-bg-div);
  position: relative;
}

.slide__enlace {
  display: block;
  width: 100%;
  color: var(--color-light);
}
.slide{
  position: absolute;
  backface-visibility: hidden;
  transition: .5s;
}

.slide--frente{
  transform: perspective(600px) rotateY(180deg);
  box-shadow: 0 5px 10px #fff;
}

.slide--detras{
  transform: perspective(600px) rotateY(0deg);
  background: var(--color-bg-div);
  padding: 15px;
  color: #fff;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}


.slide__imagen {
  position:absolute;
  object-fit: 100%;
}

.slide__titulo{
  position:absolute;
  bottom: 0;
  line-height: 45px;
  color: #fff;
  background: rgba(255, 255, 255, .4);
  text-align: center;
}
.slide__subtitulo{
  margin-top: 20px;
}

.contenedor__slide:hover {
  transform: scale(1.05) translateY(-5px);
  z-index: 10;
  box-shadow: 0 8px 20px #ffffff80;
}

.contenedor__slide:hover .slide--frente{
transform: perspective(600px) rotateY(180deg);
}

.contenedor__slide:hover .slide--detras{
  transform: perspective(600px) rotateY(360deg);
}

/* Medias  */

@media (max-width: 768px) {
  .contenedor__slide {
    flex: 0 0 50%;
  }
}
