:root {
    --color-light: #FBFBFF;
    --color-primary: #21008F;
    --color-medium: #FFD900;
    --color-bg-div: #1c0b56;
    --color-dark: #1D1E1F;
}

/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
    color: var(--color-medium);
    background: var(--color-primary);
}

header {
      width: 100%;
      display: grid;
      grid-template-rows: repeat(3, auto);
      text-align: center;
      background: var(--color-dark);
    }
  
.logo {
      display: block;
      margin: auto;
      max-width: 50%;
    }

    main {display: grid; gap: 16px;}
    
    .detalles {
        margin: 20px 30px;
        padding: 25px;
        background: var(--color-bg-div);
        background-position: center;
        grid-template-columns: repeat(2, auto);
        border-radius: 15px;
    }

h1, h2 {
    text-align: center;
    margin-top: 20px;
}

h1 {font-size: 3rem;}

hr {border: 2px solid var(--color-primary); margin: auto 100px;}

/* Secciones */
.Seccion {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    flex-wrap: wrap;
    max-width: 900px;
}

.Seccion img {
    width: 300px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
}

/* Tabla de upgrades */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: var(--color-primary);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    color: var(--color-medium);
    font-size: 16px;
    text-align: center;
}

table thead {
    background-color: var(--color-medium);
    color: var(--color-bg-div);
    font-weight: bold;
}

table th, table td {
    border: 1px solid var(--color-bg-div);
    padding: 12px;
}

table img {
    max-width: 200px;
    max-height: 300px;
    border-radius: 6px;
}
