:root {
    --color-light: #FBFBFF;
    --color-primary: #21008F;
    --color-medium: #FFD900;
    --color-bg-div: #1c0b56;
    --color-dark: #1D1E1F;
}

html {height: 100%;}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: var(--color-primary);
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    color: var(--color-medium);
    overflow-x: hidden;
    transition: all .4s;
}

header {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, auto);
    text-align: center;
    background: var(--color-dark);
}
  
.logo {
    display: block;
    margin: auto;
    max-width: 50%;
}

main {display: grid; gap: 16px;}

h2 {font-size: 26px; margin-top: 25px; margin-bottom: 5px; margin: 25px 90px 5px 90px;}

p{margin: auto 100px 2px 100px;}

ul {margin: auto 130px 2px 130px;}

a{color: var(--color-medium); text-decoration: underline;}

.texto, table{
    width: 1400px;
    margin: 25px auto;
    padding: 10px;
    border-radius: 8px;
    background: var(--color-bg-div);
}

tr{text-align: center;}

table tr td img, .item, .precio, .tamaño, .daño, .trampas, .fragil, .mapa, .detalle {
    padding: 5px;
    font-weight: normal;
}

table tr td img{width: 350px; border-radius: 8px;}

.item {width: 140px;}

.precio {width: 160px;}

.fragil {max-width: 50px;}

.mapa {width: 120px;}

.detalle {width: 300px;}