:root {
    --color-light: #FBFBFF;
    --color-primary: #21008F;
    --color-medium: #FFD900;
    --color-bg-div: #1c0b56;
    --color-dark: #1D1E1F;
}

html {height: 100%;}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: var(--color-primary);
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    color: var(--color-medium);
    overflow-x: hidden;
    transition: all .4s;
}

header {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, auto);
    text-align: center;
    background: var(--color-dark);
}
  
.logo {
    display: block;
    margin: auto;
    max-width: 50%;
}

main {display: grid; gap: 16px;}

.detalles {
    margin: 20px 30px;
    padding: 25px;
    background: var(--color-bg-div);
    background-position: center;
    grid-template-columns: repeat(2, auto);
    border-radius: 15px;
}



.imgs {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    float: right;
}
.portada{
    width: 500px;
    float: right;
    margin: 20px 60px 8px 100px;
    border-radius: 5px;
}

h1, h4 {margin-bottom: 3px; margin-top: 6px;}

hr{
    border:2px solid var(--color-primary);
    margin-bottom: 10px;
}

p{margin: 0px 3px;}

a{color: var(--color-medium); text-decoration: underline;}table{
    width: 1400px;
    margin: 25px auto;
    padding: 10px;
    border-radius: 8px;
    background: var(--color-bg-div);
}

ul li{margin: 0px 30px;}

.esq-arriba-izq{border-radius: 25px 0px 0px 0px;}
.esq-arriba-der{border-radius: 0px 25px 0px 0px;}

table {
    background: var(--color-primary);
    border-collapse: collapse;
    border-radius: 35px;
    border: none;
}

.titulos {
    background: var(--color-medium);
    color: var(--color-bg-div);
}

tr{text-align: center;}

th {height: 60px;}

td, th {
    padding: 8px;
    border: 2px solid var(--color-bg-div);
}

.item {width: 140px;}

.img-tabla {width: 300px;}
table tr td img{width: 250px; border-radius: 8px;}

.precio {width: 200px;}

.tamaño {width: 100px;}

.trampas {width: 200px;}

.fragil {max-width: 40px;}

.mapa {width: 115px;}

.detalle {width: 300px; padding: 10px;}