:root {
    --color-light: #FBFBFF;
    --color-primary: #21008F;
    --color-medium: #FFD900;
    --color-bg-div: #1c0b56;
    --color-dark: #1D1E1F;
}

html {height: 100%;}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background: var(--color-primary);
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    font-family: "Roboto", serif;
    color: var(--color-medium);
    overflow-x: hidden;
    transition: all .4s;
}

header {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, auto);
    text-align: center;
    background: var(--color-dark);
}
  
.logo {
    display: block;
    margin: auto;
    max-width: 50%;
}

.detalles {
    margin: 20px 50px;
    padding: 25px;
    background: var(--color-bg-div);
    grid-template-columns: repeat(2, auto);
    border-radius: 15px;
}

.detalles img{
    width: 350px;
    float: right;
    margin: 0px 100px;
    border-radius: 5px;
}

h2, h3, h4{margin-bottom: 3px; margin-top: 6px;}

hr{
    border:2px solid var(--color-primary);
    margin-bottom: 10px;
}

p {margin: 0px 3px;}

p a{color: var(--color-medium); text-decoration: underline;}

.caracteristicas ul li{margin-left: 10px; margin-bottom: 3px;}

.consejos li{
    list-style: circle;
    margin-left: 15px;
}

@media (max-width: 1096px) {
    
    .container {width: 94%;}
}

@media (max-width: 800px) {
    
    html {font-size: 14px;}
    header {min-height: 54px;}
    header div img{width: 200px;}
    .burger-ico {
        color: #fff; 
        display: block; 
        cursor: pointer; 
        font-weight: 800; font-size: 20px; 
        background: var(--color-primary); 
        z-index: 9; transition: all .4s; 
        height: 40px; width: 40px; 
        display: grid; place-items: center; 
        border-radius: 50%; 
        padding: 0 1.5px 3px 1.5px;
    } 
    .burger-active {transform: rotate(-90deg);}
    .shadow {transition: all .4s; background: rgba(0, 0, 0, 0);}
    .shadow-active {position: fixed; top: 0; height: 100%; width: 100%; background: rgba(0, 0, 0, .8); z-index: 7;}
    nav {position: fixed; right: -300px; width: 300px; background: var(--color-primary); height: 100%; top: 0; transition: all .4s; z-index: 8;}
    nav ul {flex-direction: column; padding: 82px 22px;}
    nav ul li {padding: 12px 0; font-size: 22px; color: var(--color-light);} nav ul li a {color: var(--color-light);}
    nav a:hover, .active {color: var(--color-medium);}
    nav ul li ul {width: 200px; padding-top: 2px; background: var(--color-dark); border-radius: 2%;}
    nav ul li ul li a:hover {color: var(--color-medium);}
    .show-menu {transform: translateX(-300px);}

    .category{margin: 30px;}

    footer {min-height: auto;}

    footer .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    padding-bottom: 16px;
    }
}